!
!#Enter global configuration
configure terminal
!
!-- Initialise hostname
hostname {{ lvars.hostname }}
!
!-- Enable features
!
feature bash-shell
feature scp-server
nv overlay evpn
feature ospf
feature bgp
feature pim
feature fabric forwarding
feature interface-vlan
feature vn-segment-vlan-based
feature nv overlay
!
!-- Create peer host mappings
!
{% for devpeer in lvars["peers"] -%}
ip host {{ devpeer.peer  }} {{ devpeer.peer_ip }}
{% endfor  -%}
!
!-- Create VLANs
!
{% for devvlans in lvars["vlans"] -%}
vlan {{ devvlans.vlan  }}
name {{ devvlans.name  }}
vn-segment {{ devvlans.vni  }}
{% endfor  -%}
!
!-- Assign TCAM ACL
!
hardware access-list tcam region racl 512
hardware access-list tcam region arp-ether 256 double-wide
!
!-- Create NVE interface
!
interface nve 1
no shutdown
host-reachability protocol bgp
source-interface loopback100
{% for devvlans in lvars["vlans"] -%}
member vni {{ devvlans.vni  }}
mcast-group {{ devvlans.mcast}}
{% endfor  -%}
!
!-- Start OSPF process
!
router ospf {{ lvars.ospfproc }}
router-id {{ lvars.rid  }}
!
!-- Create Loopbacks
!
{% for devlo in lvars["loopbacks"] -%}
interface loopback{{ devlo.id  }}
description {{ devlo.desc }}
ip address {{ devlo.ipaddr }}
ip router ospf {{ lvars.ospfproc }} area {{ lvars.ospfarea }}
ip pim sparse-mode
{% endfor  -%}
!
!-- Create uplink ports
!
{% for devul in lvars["uplinks"] -%}
interface {{ devul.intf }}
description {{ devul.desc }}
no switchport
medium p2p
ip unnumbered loopback{{ devul.lb }}
ip ospf network point-to-point
ip router ospf {{ lvars.ospfproc }} area {{ lvars.ospfarea }}
ip pim sparse-mode
no shut
{% endfor  -%}
!
!-- Create trunk ports
!
{% for devtrk in lvars["trunks"] -%}
interface {{ devtrk.intf }}
description {{ devtrk.desc }}
switchport mode trunk
switchport trunk allowed vlan {{ devtrk.avlans }}
no shut
{% endfor  -%}
!
!--  Create access ports
!
{% for devacc in lvars["access"] -%}
interface {{ devacc.intf }}
description {{ devacc.desc }}
switchport mode access
switchport access vlan {{ devacc.avlans }}
no shut
{% endfor  -%}
!
!-- Create BGP config
!
router bgp {{ lvars.asn }}
router-id {{ lvars.brid }}
address-family ipv4 unicast
address-family l2vpn evpn
{% for devneigh in lvars["neighbors"] -%}
neighbor {{ devneigh.nid }}
remote-as {{ devneigh.ras }}
update-source {{ devneigh.usrc }}
address-family l2vpn evpn
send-community extended
{% endfor  -%}
