!
!#Enter global configuration
configure terminal
!
!#Initialise hostname
configure hostname
!
!#Enable features
feature bash-shell
feature scp-server
nv overlay evpn
feature ospf
feature bgp
feature pim
feature fabric forwarding
feature interface-vlan
feature vn-segment-vlan-based
feature nv overlay
!
!#Create peer host mappings
{% for devpeer in lvars["peers"] -%}
ip host {{ devpeer.peer  }} {{ devpeer.peer_ip }}
{% endfor  -%}
!
!#Create VLANs
{% for devvlans in lvars["vlans"] -%}
vlan {{ devvlans.vlan  }}
name {{ devvlans.name  }}
vn-segment {{ devvlans.vni  }}
{% endfor  -%}
!
!#Start OSPF process
!
router ospf {{ lvars.ospfproc }}
router-id {{ lvars.rid  }}
!
!#Create Loopbacks
!
{% for devlo in lvars["loopbacks"] -%}
interface loopback{{ devlo.id  }}
description {{ devlo.desc }}
ip address {{ devlo.ipaddr }}
ip router ospf {{ lvars.ospfproc }} area {{ lvars.ospfarea }}
ip pim sparse-mode
!
{% endfor  -%}
!
!#Create uplink ports
!
{% for devul in lvars["uplinks"] -%}
interface {{ devul.intf }}
description {{ devul.desc }}
no switchport
medium p2p
ip unnumbered loopback{{ devul.lb }}
ip ospf network point-to-point
ip router ospf {{ lvars.ospfproc }} area {{ lvars.ospfarea }}
ip pim sparse-mode
no shut
!
{% endfor  -%}
